html {
    height: 100%;
}
body{
    margin: 0;
    font-family: Verdana, sans-serif;
    height: 100%;
    background-color: ghostwhite;
}
#app{
    height: 100%;
}
#app>div{
    height: 100%;
}
#app>div>div{
    height: 100%;
}