.userInfo {
    padding: 10px 20px;
}

.logout {
    font-size: 15px;
    padding: 5px 15px;
    margin: 5px;
    background-color: #631f91;
    cursor: pointer;
    border-radius: 3px;
}

.content {
    display: flex;
    justify-content: flex-start;
    height: calc(100% - 40px);
}

.leftPart {
    width: 30%;
}

.rightPart {
    width: 70%;
}

.preComponent {
    height: calc(100% - 250px);
    padding-top: 50px;
    padding-bottom: 200px;
}

.list {
    background-color: white;
    width: 80%;
    border-radius: 4px;
    border: 2px solid lavender;
    height: calc(100% - 4px);
}

.listElement {
    cursor: pointer;
    border-top: 1px solid #490c82;
    display: flex;
    justify-content: space-between;
}

.listElement:first-child {
    border-top: none;
}

.listElement:hover {
    background-color: #ededf7;
}