.links {
    float: right;
    width: 120px;
    padding-top: 100px;
    padding-right: 10px;
}

.links a {
    text-decoration: none;
}

.navigateLink {
    padding: 5px;
    color: #490c82;
    font-size: 14px;
    border-radius: 5px;
}

.navigateLink:hover {
    background-color: white;
}